[2021-01-24 21:56] valhuber opened #1 "MySQL fails sakila"
Use [sakila](https://github.com/LintangWisesa/Sakila_MySQL_Example)..

During ```.. ..Dynamic model import using sys.path: /Users/val/Desktop/create_api_logic_server/database```, get log:

[code]

and

[2021-01-24 21:58] valhuber opened #2 "MySql fails AdventureWorksMYSQL"
Use [AdventureWorksMYSQL ](https://github.com/tapsey/AdventureWorksMYSQL),

Unfortunately a strange model is generated for two tables like:
class Store(SAFRSBase, Customer):  instead of class Store(SAFRSBase, Base): 

[2021-01-25 05:27] valhuber opened #3 "Columns should use attribute name, not column-name (as tables do)"
This bug is acknowledged, and under active investigation.

[2021-01-25 05:57] valhuber commented on #3
Fix expected Mon, Jan 24, 2021.

[2021-01-25 07:29] thomaxxl commented on #3
Maybe using a mixin like described here works ?https://docs.sqlalchemy.org/en/13/orm/extensions/declarative/mixins.html

[code]

then, subclass models from `BaseModel` instead of using the multiple inheritance. This might help for #2 too

I like to use tablename to refer to collections and classname to refer to instances.

[2021-01-25 23:54] valhuber commented on #3
Version 1.01.01 fixes this for tables; columns are under consideration.

[2021-01-25 23:54] valhuber commented on #1
Fixed in 1.01.01.

[2021-01-25 23:54] #1 closed

[2021-01-26 04:03] valhuber opened #4 "Feature - demo helloWorld in APiLogicServer"
Important to show API is not limited to database crud services.

[2021-01-28 01:49] valhuber opened #7 "Error Reporting of constraint failures unclear in Swagger"
<img width="1038" alt="observed-on-pc" src="https://user-images.githubusercontent.com/5579631/106090083-24b85b00-60de-11eb-8b2c-3e47a0bbfa81.png">
<img width="1180" alt="expected-response" src="https://user-images.githubusercontent.com/5579631/106089605-1e75af00-60dd-11eb-81b4-cf106534751d.png">
<img width="1359" alt="validation-error" src="https://user-images.githubusercontent.com/5579631/1060893

[2021-01-28 01:59] valhuber opened #8 "Retrieve Customer Orders failing in Swagger"
$ ApiLogicServer run

In Swagger, get on Customer OrdersList (http://localhost:5000/#/Customer/RetrieveOrderfromOrderList_0) , observe error:

{
  "errors": [
    {
      "title": "'<' not supported between instances of 'NoneType' and 'str'",
      "detail": "'<' not supported between instances of 'NoneType' and 'str'",
      "code": 500
    }
  ]
}

[2021-01-28 09:16] thomaxxl commented on #7
I think this is because you first patched the `Id` (PK) attribute, so the ALFKI customer has a different Id now .
I'll look into this some more.

[2021-01-28 10:44] thomaxxl commented on #8
This is because of some of the sort field values are NULL in the db while others are filled in.
`GET /Customer/ALFKI/OrderList` works
`GET /Customer/ALFKI/OrderList?sort=CustomerId,EmployeeId` works
but
`GET /Customer/ALFKI/OrderList?sort=OrderDate` fails

I've fixed this in the safrs code (https://github.com/thomaxxl/safrs/commit/7b98e214588e2dbbde1ff2b9d5ee6967bc36cd73)

[2021-01-28 15:18] valhuber commented on #7
Don’t believe I did, will confirm.

On Thu, Jan 28, 2021 at 1:16 AM Thomas Pollet <notifications@github.com>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-01-29 16:13] valhuber opened #9 "flask fab create-admin is broken"
ModuleNotFoundError: No module named 'database'

[2021-02-03 14:14] valhuber commented on #9
Works now as [doc'd here](https://github.com/valhuber/ApiLogicServer/wiki/Working-with-Flask-AppBuilder).

[2021-02-03 14:14] #9 closed

[2021-02-03 14:16] valhuber commented on #7
I confirmed I am not updating the ID.  It works on Mac, not windows.  Log attached.
[validation failing.txt](https://github.com/valhuber/ApiLogicServer/files/5918999/validation.failing.txt)

[2021-02-03 14:19] valhuber commented on #4
Added, pre-built automatically.

[2021-02-03 14:19] #4 closed

[2021-02-05 17:16] agoe commented on #7
my  handler
def constraint_handler(message: str, constraint: constraint, logic_row: logic_row):    # message: str, constr: constraint, row: logic_row):
    theDetail = {"model": logic_row.name, "error_attributes": constraint.error_attributes}
    raise ValidationErrorExt(message= message,detail=theDetail)

try if this helps

[2021-02-05 17:26] agoe commented on #7
class ValidationErrorExt(ValidationError):
    """
    This exception is raised when invalid input has been detected (client side input)
    Always send back the message to the client in the response
    """

    def __init__(self, message="", status_code=400, api_code=2001, detail=None, error_attributes=None):
        Exception.__init__(self)
        self.error_attributes = error_attributes

[2021-02-07 00:48] valhuber commented on #7
Fixed in 1.4.0

[2021-02-07 00:49] valhuber commented on #7
Closed in 1.4.0

[2021-02-07 00:49] #7 closed

[2021-02-07 00:49] valhuber commented on #8
Fixed in 1.4.0, per SAFRS V2.11.1

[2021-02-07 00:49] #8 closed

[2021-02-09 06:14] valhuber opened #10 "Audit example fails with 'NoneType' object has no attribute '_is_clean'"
The [Tutorial](https://github.com/valhuber/ApiLogicServer/wiki/Tutorial#customize-with-python) fails as noted in the title.  It also fails in FAB, with a different error (something about an additional session being created).

**Note:** you need ApiLogicServer 1.4.5 (released last night), and rebuild the demo sample.  This picks up a required change in nw.sqlite db...

To create the issue:
[code]

[2021-02-09 12:54] valhuber commented on #10
Note that the session differ from what safrs is committing, vs. what logicBank saw during before_flush
<img width="1772" alt="different session" src="https://user-images.githubusercontent.com/5579631/107366306-d5393e00-6a92-11eb-8a37-0c22e15e68c8.png">
<img width="1772" alt="different session" src="https://user-images.githubusercontent.com/5579631/107366314-d79b9800-6a92-11eb-9a0d-7722a696e796.png

[2021-02-09 20:34] valhuber commented on #10
Beginning to wonder if event firing is different for SQLAlchemy vs flask-SQLAlchemy.

But, could also be logging is replicating lines..?

Here is a log from LogicBank project (not flask) doing employee update:
[code]

But equivalent test in ApiLogicServer (with flask):
[code]

[2021-02-17 22:39] valhuber opened #11 "Master/Detail add"

[2021-02-25 14:51] thomaxxl commented on #11
I (sort of) added this functionality (https://github.com/thomaxxl/safrs/commit/b8405f5f725da5021b647babc88303fdf6846b89) .

But, following POST

[code]

throws an error:
[code]

In my tests it's possible to do something like this:

[code]

There are a couple of things I don't like about this implementation, so it'll probably change.

[2021-03-03 00:49] valhuber commented on #11
Not sure we are still pursuing this path, but I did try it out with git-current safrs, got this error

{
  "errors": [
    {
      "title": "Validation Error: Invalid relationship payload: {'type': 'OrderDetail', 'ProductId': 1, 'Quantity': 1, 'Discount': 0}",
      "detail": "Validation Error: Invalid relationship payload: {'type': 'OrderDetail', 'ProductId': 1, 'Quantity': 1, 'Discount': 0}",

[2021-03-03 07:20] thomaxxl commented on #11
Hi,

I've switched off adding relationships, but it can be enabled by setting
SAFRSBase._s_allow_add_rels = True

To get Services/add_order, I use this:
https://gist.github.com/thomaxxl/5952973073800c71835826aa18bccc3f

[image: image.png]

On Wed, 3 Mar 2021 at 01:50, Val Huber <notifications@github.com> wrote:

[2021-03-03 11:22] valhuber commented on #11
Right... as I said, probably going with the RPC approach.

Any luck with the “no entity” example?  As you saw in Skype, I was not able
to get the override to work.  Perhaps fastest to do a screen share later
today, since probably something I did wrong...?

Best,
Val

On Tue, Mar 2, 2021 at 11:21 PM Thomas Pollet <notifications@github.com>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-03-25 15:30] valhuber opened #12 "Server Start Warns that "no such table: Services" for NW sample database"
This is due to designation of a non-existent table for the services example.

This is benign, and will be corrected (and simplified) in an up-coming safrs release.

[2021-03-30 22:23] arpancodes commented on #12
any workaround for it? maybe you can give the services schema so we can make it and test it? I am creating a video on this cool tool so wanted to try it :)

[2021-03-30 22:41] valhuber commented on #12
Hi, thanks for the interest...

Sure, I can make a table to suppress the message - can you confirm the need
for this?  Other than a sloppy log, it is benign...

On Tue, Mar 30, 2021 at 3:23 PM Arpan Abhishek ***@***.***>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-03-30 22:56] arpancodes commented on #12
I am not able to start the server because of that...
this is what I am getting whenever I try to access the localhost:5000
![image](https://user-images.githubusercontent.com/42417893/113067003-2800bd80-91d9-11eb-93a6-f1d7001607b5.png)

[2021-03-30 23:28] valhuber commented on #12
Erk!

Perhaps not so benign after all, eh?  Seriously, had not seen this symptom...

Let me make the fix I have in mind, and I will ping you.  Should be no more than a few hours.

[2021-03-30 23:59] valhuber commented on #12
Please try the latest release: 02.00.02: Create Services table to avoid startup issues

If you are still seeing issues, we may need to have a look, please ping me at valjhuber@gmail.com

[2021-04-12 09:38] jkhchan307 opened #13 "ERROR - Dynamic model import failed"
Traceback (most recent call last):
  File "c:\users\xxxxxxx\source\vscode\als\venv\lib\site-packages\api_logic_server_cli\cli.py", line 248, in find_meta_data
    importlib.import_module('models')
  File "c:\users\xxxxxxx\appdata\local\programs\python\python38\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen impo

[2021-04-12 11:34] valhuber commented on #13
Thanks for reporting.  Can you supply database (eg, DDL), or some easy way to recreate?

[2021-04-12 12:30] jkhchan307 commented on #13
CREATE TABLE [dbo].[EXPORT_PARAM](
	[API_NAME] [nvarchar](50) NOT NULL,
	[ENV] [nvarchar](10) NOT NULL,
	[RNK] [int] NOT NULL,
	[CATEGORY] [nvarchar](20) NULL,
	[WHERE_CLAUSE] [nvarchar](300) NULL,
	[TEMP_PATH] [nvarchar](300) NULL,
	[TEMP_FILE] [nvarchar](100) NULL,
	[OUT_PATH] [nvarchar](300) NULL,
	[OUT_FILE_NAME] [nvarchar](100) NULL,
	[ZIP_FLAG] [nvarchar](1) NULL,
	[ZIP_FILE_NAME] [nvarchar]

[2021-04-12 20:24] valhuber commented on #13
Temp fix available: https://test.pypi.org/project/ApiLogicServer/2.0.7/

Please advise if this resolves your issue, and thanks again for the report.

[2021-04-13 02:00] jkhchan307 commented on #13
Seemed to be no change:

ApiLogicServer **02.00.07** Creation Log:
1. Delete dir: C:\Users\xxxxxxx\source\vscode\ALS\api_logic_server
2. Create Project copy c:\users\xxxxxxx\source\vscode\als\venv\lib\site-packages\prototype -> api_logic_server
4. Create api_logic_server/database/models.py via expose_existing / sqlacodegen: mssql://XXX_XXXX
5. Create ui/basic_web_app with command: flask fab create

[2021-04-13 02:44] valhuber commented on #13
Hmm, sorry.... that is most odd.  Wondering if it's a cache issue?

If you are familiar with how to look into venv, can you verify that the fix is there (left code window, below).  The fix should result in a model file as shown in the right code window (this from my simplified test of your example).

We may perhaps do better on a screen share - I am valjhuber@gmail.com

<img width="1846" alt="fix

[2021-04-13 02:55] valhuber commented on #13
ah, I see it.  My bad.  the 2nd arg is different for you... I will have a fix in abut 30 mins

[2021-04-13 03:04] valhuber commented on #13
ok, another try: https://test.pypi.org/project/ApiLogicServer/2.0.8/

[2021-04-13 04:08] jkhchan307 commented on #13
I started from totally fresh:

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\xxxxxxx\source\vscode\ALS2> virtualenv venv
created virtual environment CPython3.8.3.candidate.1-64 in 52847ms
  creator CPython3Windows(dest=C:\Users\xxxxxxx\source\vscode\ALS2\venv, clear=False, global=False)
  seed

[2021-04-13 04:15] valhuber commented on #13
thanks for hanging in there on this.  As you see, it's not always `CHAR(1,` your example above has` CHAR(10)`.

Perhaps I can change these to UNICODE, which is what I usually see for sql/server:
[code]

Can you tell me what CHAR is, vs. UNICODE?  Even if they are different, perhaps we just use this as a temp fix to get you going while we do more research...?

[2021-04-13 04:16] valhuber commented on #13
(as we can see, it's not a cache problem)

[2021-04-13 04:50] valhuber commented on #13
I have another fix:

pip install -i https://test.pypi.org/simple/ ApiLogicServer==2.0.9

From this database:
[code]

It generates:
[code]

[2021-04-13 06:19] jkhchan307 commented on #13
2.0.9 seemed to have got me past the error. But when starting to run the api server, large number of the following messages appeared.

[2021-04-13 14:01:24,658] DEBUG: 'bool' object is not iterable
[2021-04-13 14:01:24,767] DEBUG: 'bool' object is not iterable
[2021-04-13 14:01:24,768] DEBUG: Failed to get python type for column Contact_20210224.DealCustomer (NotImplementedError)
[2021-04-13 14:01

[2021-04-13 06:37] thomaxxl commented on #13
the "Failed to get python type" messages are shown when safrs can't create a sample value for the swagger, the swagger will show "null" instead I think.

I am not sure what's causing the 'bool' error, can you paste the corresponding model?

[2021-04-13 06:46] jkhchan307 commented on #13
t_Contact_20161013 = Table(
    'Contact_20161013', metadata,
    Column('ContactID', Unicode(15), nullable=False),
    Column('FirstName', Unicode(30), nullable=False),
    Column('LastName', Unicode(30), nullable=False),
    Column('SalutationID', Unicode(10)),
    Column('DisplayName', Unicode(120), nullable=False),
    Column('NickName', Unicode(60)),
    Column('DealCustomer', BIT, nullable=F

[2021-04-13 07:16] thomaxxl commented on #13
If the column type can't be determined, the swagger type will default to "string" (which is iterable), however in the case of a BIT, it should default to "integer" (or "boolean").
I'll extend this mapping dictionary and make it configurable too (atm, it's hardcoded).

This shouldn't pose much problems in the swagger.

[2021-04-13 08:42] jkhchan307 opened #14 "Is SQL Server Table-Valued Function supported?"
This is a question or request to include SQL Server Table-Valued Function tables.

[2021-04-14 09:42] #13 closed

[2021-04-14 09:44] jkhchan307 commented on #14
I have a number of Table-Valued Function that I would like to also provide API for them. Is it possible and if so how? Thanks!

[2021-04-14 10:09] thomaxxl commented on #14
Hi,

I haven't worked with table-valued functions before. What does the corresponding sqlalchemy model look like?

It's certainly possible to expose these in the json api and swagger because it's possible to expose any kind of data. It might take a bit of work to work out the models though.

[2021-04-14 11:17] valhuber commented on #14
Automation would be great, we will look into that, but you always have the
option to just write services:
https://github.com/valhuber/ApiLogicServer/wiki/Tutorial#customize-api

On Wed, Apr 14, 2021 at 3:10 AM Thomas Pollet ***@***.***>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-04-15 02:46] jkhchan307 commented on #14
I don't know anything about sqlalchemy but here is the command to get the definition of TVF's in SQL Server:

SELECT TABLE_CATALOG AS [Database], TABLE_SCHEMA AS [Schema], TABLE_NAME AS [Function], COLUMN_NAME AS [Column], DATA_TYPE AS [Data Type], CHARACTER_MAXIMUM_LENGTH AS [Char Max Length] FROM INFORMATION_SCHEMA.ROUTINE_COLUMNS WHERE TABLE_NAME IN (SELECT ROUTINE_NAME FROM INFORMATION_SCHEMA.

[2021-04-15 04:40] valhuber commented on #14
Thanks for this... this is currently not supported in the sense of automated.

In the meantime, you can certainly [invoke TVFs](https://stackoverflow.com/questions/47579701/sqlalchemy-filter-table-valued-function) in [writing your own services](https://github.com/valhuber/ApiLogicServer/wiki/Tutorial#customize-api).

ApiLogicServer / SAFRS provide powerful automation for SQLAlchemy, an ORM for Pyt

[2021-04-15 07:07] jkhchan307 commented on #14
Actually I recently wrote a .NET Core application to do exactly what ApiLogicServer can offer and more. Although it is already working, I had to pay for a library to automate the generation of all the data classes corresponding to the tables and TVF's. I also had to cookie cutting each controller corresponding to each API. Filtering and sorting possible for each API also need to be hand coded. As

[2021-04-15 10:31] thomaxxl commented on #14
It should be possible to automate this to some extent. I'll look into this next week.

[2021-04-16 05:51] valhuber commented on #14
As Thomas noted, we’ll have a look next week.  Some more perspective would be useful:

1. Is the functionality meeting your needs in other respects?
2. What is your time frame?

[2021-04-16 06:16] jkhchan307 commented on #14
From what I have seen so far I believe it would. But it would depend on whether the automation would work with TVF's as good as it would for normal tables and views. Also, I need to test the performance as well. I already have a working setup calling API's from within Salesforce. Once the automation for TVF's is in place, all I have to do is to replace the .NET Core gateway with ApiLogicServer and

[2021-04-16 06:37] thomaxxl commented on #14
API performance and stability are well tested and should be fine for most use cases. However due to the generic nature, some adjustments may have to be made for certain API calls. For example, when fetching a collection, safrs counts all object in the corresponding table so it can return the [jsonapi](https://jsonapi.org/format/) "count" parameter. Now, doing a count on a table with millions of ro

[2021-04-23 06:53] thomaxxl commented on #14
I created an example for calling a postgres TVF using safrs `jsonapi_rpc`  (this only works with the latest commits from the safrs repo).

https://gist.github.com/thomaxxl/f8cff63a80979b4a4da70fd835ec2b99

You could extract the TVF function prototype from the db schema and generate the code for this, but this isn't automated at this point.

[2021-04-24 21:57] valhuber commented on #14
Thanks, @thomaxxl

@jkhchan307 .... Your SQL posted above was very useful... good start for generating the model.  I am guessing you also want the Swagger to identify the args.  Is there a similar query for that?

[2021-04-25 01:02] jkhchan307 commented on #14
Sorry but I am not sure I understand your question.

[2021-04-25 01:46] valhuber commented on #14
Sorry, let me clarify.  There were 2 matters:

1. I was unclear how to get metadata for the args, but the subsequent update with the link ("Oh, wait)" was to show I have found it.

2. The second question is whether your TVF args are always simple _scalar_ values - a simple number, string etc.  I _think_ I have read that you can also pass _tables_ to your TVF (think - a result list), so was wonderi

[2021-04-25 02:13] jkhchan307 commented on #14
Thanks Val. No need to pass table names to TVF’s as arguments. Should be able to treat TVF as a regular table in most cases.

[2021-04-26 02:11] valhuber commented on #14
I have provided an [exploratory proposal here](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder).

@jkhchan307 please see if this looks like a reasonable approach.  You are welcome to extend the file; if we go this direction and you get it working, I will be happy to pull your example into ApiLogicServer.

@thomaxxl comments solicited.  I did not know how to code the rpc so that it

[2021-04-27 00:40] valhuber commented on #14
@jkhchan307  -- @thomaxxl and I met today to review the approach, and we think it makes sense.  The example code will not yet run, but I am hoping you can get a good sense of where it's headed.  It would be great to hear if you concur on this approach.

[2021-04-28 05:11] valhuber commented on #14
@jkhchan307 - starting to run, with issues.  Important to understand whether this approach seems workable to you, [described here](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder)

[2021-04-29 01:14] jkhchan307 commented on #14
@valhuber Sorry that I am getting a bit busy at work. Initially I think so but need to wait to have a bit more time to try it out. Honestly it really depends on how much hand coding there is. Thanks again!

[2021-04-29 03:09] valhuber commented on #14
@jkhchan307 Great to hear from you, thanks for getting back.  We all get snowed under from time to time, so appreciate your taking the time...

I am sure I am speaking fot @thomaxxl when I say we agree that _hand-code reduction_ is the right metric.  I am hoping you were able to scan [this page ](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder)and discover that:

1.  We are succes

[2021-04-29 14:04] valhuber commented on #14
@thomaxxl has a fixed that I have tested and worked.  I will be rolling out an update shortly.

@jkhchan307 alerting you, and wondering if you are in a position to try this on your database...?

[2021-04-29 18:16] valhuber commented on #14
@jkhchan307 just pushed update with multiple running TVFs, [described here](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder).  We are prepared to close this item if this works for you.

@thomaxxl FYI

[2021-05-01 02:34] valhuber commented on #14
@jkhchan307 @thomaxxl This is now released as the current version in PyPi.  This release uses the [Extended Builder](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder) framework to:

1. Scan a Sql/Server schema for 1 or more Table Valued Functions
2. Build a service (end-point) for each, with parameter and Swagger support
3. Constructed services are automatically available and fully

[2021-05-01 02:37] jkhchan307 commented on #14
Fantastic news. Will try it out as soon as I can.

On Sat, 1 May 2021 at 10:34 AM, Val Huber ***@***.***> wrote:

[2021-05-01 02:43] valhuber commented on #14
Great.  In addition to uninstalling/re-installing ApiLogicServer, you will need to do the same for SAFRS.  Or, just created a new ```venv```.  Please advise if I'm not being clear...

My pip freeze:
[code]

[2021-05-03 02:05] jkhchan307 commented on #14
Is my understanding correct that I don't need to use the extended builder to include TVF's in the generation anymore or I still do?

[2021-05-03 02:11] valhuber commented on #14
You must use the Extended Builder.  TVFs are automated via the _sample_ ExtendedBuilder, not the core product ([Extensible Automation](https://github.com/valhuber/ApiLogicServer/wiki/Extended-Builder#extensible-automation-vs-full-automation).

You just find the sample file, and copy it to your directory per this screen shot:

<img width="1105" alt="Use Extended Builder" src="https://user-images.gi

[2021-05-03 02:12] jkhchan307 commented on #14
Sorry but I just noticed that I did not get API successfully generated for all tables. For example, I would get result likes below:

t_Account_extract = Table(
    'Account_extract', metadata,
    Column('TW_ACCOUNT__R NAME', String(500, 'Chinese_Taiwan_Stroke_BIN')),
    Column('TW_ACCOUNT__R TW_TAX_NUMBER__C', String(500, 'Chinese_Taiwan_Stroke_BIN')),
    Column('TW_TRANSACTION_ACCOUNT_NAME__C'

[2021-05-03 02:17] valhuber commented on #14
The first is (I am pretty sure) a view; sqlacodegen uses t_ for those.  The second is a table, which looks ok except for the missing indent for tablename...

Can you extract the schema (not data), including the TVFs?  I need to see where / how it fails....

[2021-05-03 02:23] valhuber commented on #14
BTW, was it your expectation to expose views?  I was noting those are generated as Tables, but not exposed as APIs by SAFRS.  This is because they have no pKey....

If you need that, we might be able to extend the TVF Extended Builder to create services for views too...?

[2021-05-03 02:30] jkhchan307 commented on #14
They are both tables. Probably because of the way they named the columns.

CREATE TABLE [dbo].[Account_extract](
	[TW_ACCOUNT__R NAME] [varchar](500) NULL,
	[TW_ACCOUNT__R TW_TAX_NUMBER__C] [varchar](500) NULL,
	[TW_TRANSACTION_ACCOUNT_NAME__C] [varchar](500) NULL,
	[TW_TA_ID__C] [varchar](500) NULL,
	[TW_ACCOUNT__R OWNER NAME] [varchar](500) NULL
) ON [PRIMARY]

CREATE TABLE [dbo].[Acrm_Calender]

[2021-05-03 02:34] valhuber commented on #14
Ah, no primary key... I bet that's it.... what is your requirement here?  Update seems unlikely, perhaps expose as a service, but I don't know what filter-args...  thoughts?

[2021-05-03 03:59] jkhchan307 commented on #14
Actually not sure. What is the most flexible option without getting into "Bad Design"?

Also, I am hitting a consistent generation error for Scalar-valued functions. I can't find a way to distinguish table-valued functions from scalar-valued functions which I don't think I need. Below is one example:

class FN_APPLY_FEE_LIST(JABase):
	"""
		description: define service for FN_APPLY_FEE_LIST
	"""

[2021-05-03 04:07] valhuber commented on #14
@jkhchan307 Let me confirm my understanding...

1. Not sure you need views, right?  That seems quite reasonable, since JSON:API lets you select columns and do joins, so would appear views are not required.... please confirm.
2. SCF (Scalar Valued Functions) are causing errors.  I will look into this in my AM tomorrow, I hope I can detect them by the columns query...

   - Maybe functions returning

[2021-05-03 04:20] jkhchan307 commented on #14
@valhuber 1) Not quite sure why you use the term views. I have a lot of TVF's and not views having the issue.
2) Will continue to research the pattern.

Thanks again!

[2021-05-03 04:45] valhuber commented on #14
@jkhchan307 Sorry, you are right... I believe the issue is tables without primary keys.  I am hoping we can ignore views, but need to find an approach for such tables.

And for SCFs.

[2021-05-09 15:47] valhuber commented on #14
@jkhchan307 Any updates?

[2021-05-10 09:02] jkhchan307 commented on #14
Traceback (most recent call last):
  File "api_logic_server/api_logic_server_run.py", line 113, in <module>
    flask_app, safrs_api = create_app(host=host)
  File "api_logic_server/api_logic_server_run.py", line 102, in create_app
    expose_services.expose_services(flask_app, safrs_api, project_dir)  # custom services
  File "C:\Users\xxxxxxxxx\source\vscode\ALS2\api_logic_server\api\expose_serv

[2021-05-10 14:32] valhuber commented on #14
OK, @jkhchan307  thanks for getting back.  Will look into this.

It might be easier if you extract your entire DDL (schema, TVFs).  Don't need the data....

[2021-05-10 14:58] jkhchan307 commented on #14
Is there a way to specify a small list of TVF's to skip?

[2021-05-10 16:27] valhuber commented on #14
@jkhchan307

OK, let's try this:

pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple ApiLogicServer==2.2.9

Please advise.

[2021-05-13 02:46] jkhchan307 commented on #14
I had cert problem running your command so I just downloaded the 2.2.9 whl file and installed using it. Then running the generation again yielded the following error:

8. Writing: /ui/basic_web_app/app/views.py
.. ..Fixing run.py and app/init for Python path, logic
.. ..Important: you will need to run flask fab create-admin
Traceback (most recent call last):
  File "c:\users\XXX_XXXX\appdata\local

[2021-05-13 03:40] valhuber commented on #14
Place this file in C:\Users\XXX_XXXX\source\vscode\ALS2\.venv\Lib\site-packages\api_logic_server_cli/
[ui_basic_web_app_run.txt](https://github.com/valhuber/ApiLogicServer/files/6470229/ui_basic_web_app_run.txt)

Cert issues: [see this](https://github.com/valhuber/ApiLogicServer#important-news---certificate-issues)

[2021-05-13 04:15] jkhchan307 commented on #14
**Getting closer...**

*** Customizable ApiLogicServer project created -- open it in your IDE at C:\Users\XXX_XXXX\source\vscode\ALS2\api_logic_server
*** Server now running -- explore with OpenAPI (Swagger) at http://localhost:5000/

[2021-05-13 12:05:07,986] INFO: Exposing method f_GetEVAStatus.f_GetEVAStatus on /f_GetEVAStatus/f_GetEVAStatus, endpoint: api.f_GetEVAStatus.f_GetEVAStatus
[2021-05

[2021-05-13 04:32] valhuber commented on #14
Good to hear....

Creation of the tables is actually not used.  sqlacodegen does that, perhaps so you can "cast" result rows.

We care only about the service classes, such as
[code]

So, there must be some issue with the TVF noted in the log: f_GetFundNav_THOMAS.  Can you show that?

By the way, the critical query used to retrieve the TVFs (and any arguments) is shown below -- if a TVF is missing

[2021-05-13 06:46] jkhchan307 commented on #14
f_GetFundNav_THOMAS has the type of SQL_TABLE_VALUED_FUNCTION so it was not included in the SQL you provided since it is only looking for SQL_INLINE_TABLE_VALUED_FUNCTION.

[2021-05-13 13:45] valhuber commented on #14
ok, try this (rename to .py)
[extended_builder.txt](https://github.com/valhuber/ApiLogicServer/files/6472771/extended_builder.txt)

[2021-05-19 04:21] valhuber opened #15 "Improper error reporting after Patch"
The system reports unable to find object, instead of the actual constraint.

A fix is in progress, we will post status here.

[2021-05-19 04:22] valhuber commented on #14
@jkhchan307 any update?

[2021-05-19 08:55] jkhchan307 commented on #14
Replaced content of extended_builder.py in .venv/api_logic_server_cli with the content of extended_builder.txt and reran. Got the following:

5. Create api/expose_api_models.py and ui/basic_web_app/app/views.py (import / iterate models)
.. ..Dynamic model import using sys.path: C:\Users\XXX_XXXX\source\vscode\ALS2\api_logic_server/database
.. ..Dynamic model import successful (81 classes) - gettin

[2021-05-19 09:52] valhuber commented on #14
Think I just fixed that… you running on a PC?

If you can fix the feet’s issue (see earlier comment) this should be
addressed with latest testpypi build from yesterday…

On Wed, May 19, 2021 at 1:56 AM jkhchan307 ***@***.***> wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-05-19 11:14] jkhchan307 commented on #14
2.2.12 was running fine and generated those TVF's successfully now. The only thing is that no matter what I executed using the Swagger UI, I always get 200 back without data. No matter what I input, I always get 200 back. Even if I put in a non-existing key, I still get 200 back.

[2021-05-19 11:54] valhuber commented on #14
Any log output?

Is this Windows?

On Wed, May 19, 2021 at 4:15 AM jkhchan307 ***@***.***> wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2021-05-19 12:32] jkhchan307 commented on #14
This was shown in the console window:

Logic Phase:            BEFORE COMMIT(session=0x2b50fb74340)                                                     - 2021-05-19 20:27:05,956 - logic_logger - DEBUG
127.0.0.1 - - [19/May/2021 20:27:05] "GET /uta_ocrm_fund/?fields%5Buta_ocrm_fund%5D=ftype%2Cfno%2Cproduct_type&page%5Boffset%5D=1&page%5Blimit%5D=10 HTTP/1.1" 200 -

[2021-05-19 14:01] jkhchan307 commented on #14
2021-05-19 21:59:43,108] DEBUG: method fn_SFDC_u_CDM_ContactOnshore args {'id': '688208'}
[2021-05-19 21:59:43,337] ERROR: list index out of range
Traceback (most recent call last):
  File "C:\Users\XXX_XXXX\source\vscode\ALS2\.venv\lib\site-packages\safrs\safrs_api.py", line 607, in method_wrapper
    result = fun(*args, **kwargs)
  File "C:\Users\XXX_XXXX\source\vscode\ALS2\.venv\lib\site-packag

[2021-05-19 14:16] valhuber commented on #14
First guess is that the generated code does not allow for no results.... that sound right?  (Should this query return zero rows?)

That should be easy to fix, will investigate...

Is it working for TVFs that return >0 rows?

[2021-05-19 14:21] jkhchan307 commented on #14
It should have data back with the key I provided.

On Wed, 19 May 2021 at 10:16 PM, Val Huber ***@***.***> wrote:

[2021-05-19 14:26] valhuber commented on #14
Tough to debug without seeing more... can you `inspect` result from `return {"result" : list(result[0])}'.  In general, note you can use your debugger on the created services...

Do other functions work?

[2021-05-19 15:33] valhuber opened #16 "POST fail for tables without autoIncrement keys"
This is because such tables require `allow_client_generated_ids = True` in database/models.py, eg:

[code]

Use the work-around above for now, a fix will be available in the next release.

[2021-05-20 01:31] #3 closed

[2021-05-20 01:33] #12 closed

[2021-05-20 08:16] jkhchan307 commented on #14
Can you share your launch.json for debugging? Some of the GET for real tables worked just fine.

[2021-05-20 13:09] valhuber commented on #14
First, I assume you mean debug the created app, not the generator, right?  Once you get the app to return the right data, we can alter the generator as required.

I use PyCharm - what do you use?

When you run ApiLlogicServer run, it creates a normal project; the file to run in api_logic_server_run.py.  For me, PyCharm sets that up automatically when I right-click:

<img width="1200" alt="debug th

[2021-05-21 10:42] valhuber commented on #14
@jkhchan307 can you provide the code of the failing TVF?

[2021-05-21 12:29] jkhchan307 commented on #14
I am using VSCode on Windows and for some reasons the breakpoints would not work when trying to debug. None of the TVF's worked so I doubt it was related to specific TVF. BTW, is there quicker way to start without dynamically exposing the endpoints every time? I suppose it is because of the number of endpoints so it takes 4-5 minutes to start every time. Kind of painful when debugging.

[2021-05-21 13:37] valhuber commented on #14
The launch Config was PyCharm, will send vocoder.

Start created project [like this](https://github.com/valhuber/ApiLogicServer#customize-the-created-project).

[2021-05-21 14:59] valhuber commented on #14
@jkhchan307 New version released.

No changes to the TVF Builder, but should resolve the build failure you saw earlier.

**Important:** you need to uninstall safrs and pip-install it (should be 2.11.4), ApiLogicServer is 2.2.17.

[2021-05-21 15:01] valhuber commented on #16
Fixed in 2.2.17

[2021-05-21 15:01] #16 closed

[2021-05-21 15:17] valhuber commented on #15
Fixed in 2.2.17

[2021-05-21 15:17] #15 closed

[2021-05-21 15:33] jkhchan307 commented on #14
I started a new .venv and fresh install 2.2.17 with the command "pip install ApiLogicServer-2.2.17-py3-none-any.whl --no-cache-dir" in it and got this error message "ERROR: requests 2.25.1 has requirement idna<3,>=2.5, but you'll have idna 3.1 which is incompatible.". What should I do?

[2021-05-21 16:10] jkhchan307 commented on #14
Although I had that error, it actually generated and started successfully. Good news is the TVF's are now working. I will continue to test more tomorrow. Thanks!

[2021-05-21 17:15] valhuber commented on #14
@jkhchan307 Great news!  Keep me posted!!

[2021-05-23 12:49] jkhchan307 commented on #14
- The TVF's are definitely coming back with the data but there seemed to be always only one record back while there should be multiple in the result set.
- 2nd question is whether 500 is the normal/right return code when no record is returned?

[2021-05-23 13:34] valhuber commented on #14
I will look into that.  At this point, it more about standard debugging... if you can fix the code of the generated app (e.g., return multiple rows), it should be very easy to fix the generator.

Have you been successful at getting the debugger to work on the created app (without regen each time)?  Let me know if we need a zoom session.

[2021-05-23 14:35] valhuber commented on #14
@jkhchan307 2.2.19 released to Pypi:

[code]

[2021-05-24 00:56] jkhchan307 commented on #14
@valhuber 2.2.19 is now able to return multiple rows and also 200 return code when valid query but no result. Thanks so much!

[2021-05-24 01:02] valhuber commented on #14
Great to hear!  Do you have a lot more testing, or are you declaring victory?

[2021-05-24 01:44] jkhchan307 commented on #14
Actually not very much. I will continue to play with it and other components as well and see what came up. For example, do you expect the TVF related API's would be included in the Admin Web App by default?

But I think we can definitely declare victory for including TVF's though. BTW I like the new banner and found it helpful as well.

[2021-05-24 01:49] valhuber commented on #14
Sadly, I see no prospect of making the Admin App work.

I presume you have are interested in that because your Stored Procedures (Sprocs) have your business logic?  For integrity (not security), you definitely want to have a look at [business logic](https://github.com/valhuber/ApiLogicServer#logic).  The 40x conciseness factor (and clarity) is a major deal... have you explored it yet?

[2021-06-07 15:31] valhuber commented on #14
@jkhchan307 Would love to know how you are faring....  Is testing completed?   Have you decided to proceed with this approach?

[2021-06-09 09:07] jkhchan307 commented on #14
@valhuber Still thinking how to introduce this into my organization. One more general question - any materials to show what to do in maintenance mode. Let say it is now running in production with further customizations and now there are new and changed tables and TVF's. Can I just regenerate without lossing all the customizations? Also, is there some kind of real-life, recommended "production depl

[2021-06-09 13:24] valhuber commented on #14
@jkhchan307 Customization provisions are [described here](https://github.com/valhuber/ApiLogicServer/wiki/ApiLogicServer-Guide).  In general, the approach is to collect customizations in files that are separate from the generated files, which enables you to copy these customized files to a re-generated project.

And, of course, this is a standard project, so you always have standard merge tools.

[2021-06-15 21:22] valhuber commented on #14
@jkhchan307 Any updates?  I will be participating on a DZone Live event on June 30, love to know how you are doing, and whether you'd feel comfortable being mentioned.

[2021-06-16 02:21] jkhchan307 commented on #14
@valhuber Rightly or wrongly the current approach is to embed customization/logics inside the TVF's so I don't foresee a lot of other customizations needed. Having said that, personally I think anything that can allow regeneration without losing existing customizations is always a good thing.

[2021-06-16 03:23] valhuber commented on #14
@jkhchan307 Excellent!  Have you decided to proceed with production use?

[2021-08-22 23:31] valhuber opened #17 "Incorrect (relative) db_url in config file"
Version 2.3.4 creates a \`\`\`config.py\`\`\` file that contains the db\_url.  It is incorrect for sqlite DBs, requiring the server to be started from a specific directory.

The correct value is:

[code]

But it is created as:

[code]

This is fixed is version 2.3.5 (coming soon).

[2021-09-05 23:29] valhuber opened #18 "Docker - Basic Web App not running"
Not yet implemented

[2021-09-05 23:32] valhuber opened #19 "Docker - windows networking research"
Needs research - run defaults to 0.0.0.0 in `api_logic_server_run,` overridden to `localhost` in `api/expose_api_models`

*   So, why doesn't this work on windows?
     `python /local/servers/docker_project/api_logic_server_run.py localhost`
*   Is it this?  https://docs.docker.com/desktop/windows/networking/

[2021-09-08 10:07] valhuber commented on #18
Fixed in 3.0

[2021-09-08 10:07] #18 closed

[2021-09-08 10:09] valhuber commented on #17
Fixed in 2.3.5

[2021-09-08 10:09] #17 closed

[2021-09-10 17:02] valhuber opened #20 "Sample Swaggers fails to execute get commands"
The log from starting the server recommends starting swagger at http://0.0.0.0:5000, but this fails.

It should work using http://localhost:5000

Fix planned for 3.0.01, next several days.

[2021-09-16 22:46] valhuber commented on #19
Fixed in 3.00.14, per documented use of `docker network create dev-network`

[2021-09-16 22:46] #19 closed

[2021-09-16 22:47] valhuber commented on #20
fixed in 3.00.14:

[code]

[2021-09-16 22:47] #20 closed

[2021-09-19 15:03] valhuber opened #21 "Get swagger error on SQLServer, categories"
Orders table works, but Categories fails....

Use [SqlServer Docker](https://github.com/valhuber/ApiLogicServer/wiki/Working-with-Docker#install-sqlserver-as-a-test-database)

[code]

See:

[code]

[2021-10-02 15:30] valhuber opened #22 "Swagger fails to execute APIs on 3.01.15 - workaround available"
The launch configuration is incorrectly passing an argument for 0.0.0.0 on line 12 in launch.json.

Workaround: it will work correctly (on localhost) if you remove this line.

Will be fixed in next (imminent) release.

[2021-10-06 00:25] valhuber opened #23 "Basic Web App may fail due to missing SQLAlchemy-Utils"
Fix coming.... for now, just pip install

[2021-10-06 19:30] valhuber commented on #23
Fixed in 3.20.00

[2021-10-06 19:31] valhuber opened #25 "ApliLogicServer run-ui fails"
Use python style command for now

[2021-10-09 14:53] #25 closed

[2021-10-27 02:34] valhuber opened #27 "Conflict on port 5000 with MacOS Monterey"
Monterey has started u[sing port 5000 for Airplay](https://developer.apple.com/forums/thread/682332), which conflicts with Flask defaults.

VSCode users can override the ports in the run configurations.

Ports parameters can be used in other cases.

A fix is being tested, experimental version available:

[code]

[2021-11-20 13:49] sylvoslee opened #28 "Do you know fastapi"
Compared to the Fastapi ecosystem, is there still an advantage?

[2021-11-20 15:08] valhuber commented on #28
From a cursory glance, the main differentiators appear to be:

Degree of automation - Fastapi enables you to write code for each endpoint.  API Logic Server / SAFRS automatically create end points for every table, including filtering, pagination and related data access.

Client creation - API Logic Server creates a multi-page, multi-table admin application

Transaction Logic - API Logic Server ena

[2021-11-21 22:42] #28 closed

[2021-12-13 03:28] sylvoslee opened #29 "The error returned is not intuitive"
There is no wrong field information, such as the wrong type

![无标题](https://user-images.githubusercontent.com/34852097/145747621-06df96d4-6a2f-40db-8faa-11e42deca5ad.png)

Would you consider integrating libraries like pydantic?
[https://github.com/samuelcolvin/pydantic](url)

[2021-12-13 05:30] valhuber commented on #29
Hi, @sylvoslee

Thanks for the feedback.

What did you do to create this?

[2021-12-13 05:40] sylvoslee commented on #29
I want to use ApiLogicServer for the company's internal web site to expose the api

[2021-12-13 05:42] valhuber commented on #29
Would love to support you... what did you do to create this situation?

[2021-12-13 06:44] thomaxxl commented on #29
Hi,

This error happens when you request a non-existing relationship in the include URL query parameter.
Removing or modifying this parameter should resolve the problem.
I do wonder how this was added to the auto-generated swagger.

[2021-12-26 23:39] valhuber opened #30 "Admin App loses context after cascade delete"
In the sample app, you can adjust the `Order` referential integrity options as [described here.](https://github.com/valhuber/ApiLogicServer/wiki#edit-modelspy-referential-integrity-eg-sqlite)  While this is properly handled by the api and logic, it causes a loss of context in the admin app:

[code]

[2021-12-29 16:02] valhuber commented on #30
Fixed in ApiLogicServer 4.00.08

[2021-12-29 16:02] #30 closed

[2021-12-29 22:10] valhuber opened #31 "Under Docker, v 4.0.8 is not showing the Home page"
It is just showing blank.

Under investigation.

[2022-01-13 19:42] valhuber commented on #31
Fixed in current release

[2022-01-13 19:42] #31 closed

[2022-01-13 19:43] valhuber commented on #27
Ports now defaulted to 5656 to avoid conflicts

[2022-01-13 19:43] #27 closed

[2022-01-14 22:24] valhuber commented on #21
Fixed in later release

[2022-01-14 22:50] valhuber commented on #21
failing in 4.01.0
<img width="1448" alt="sqlSvr fails swagger" src="https://user-images.githubusercontent.com/5579631/149595355-2d3c87a7-d1c0-4017-a4ab-c99a87e7ee63.png">
0

[2022-01-18 14:05] sylvoslee opened #32 "ApiLogicServer 4.1.0 error on windows 10"
When i run ApiLogicServer 4.10 on windows 10,get the follow error.
[code]

[2022-01-18 14:41] thomaxxl commented on #32
What is the output when you execute

[code]

in  E:\project\ApiLogicProject ?
(note: you have to run this in a virtualenv with the appropriate modules installed)

[2022-01-18 14:42] valhuber commented on #32
Perhaps there’s an error in the created project.

Can you try running Python e:<your project> localhost 5656, and sending log?

On Tue, Jan 18, 2022 at 6:06 AM sylvoslee ***@***.***> wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2022-01-18 16:43] valhuber commented on #32
This is a bug (sorry) in creating the db url, in projects' config.py.  You might be able to fix this locally, I will have a fix in a while.

[2022-01-18 20:12] valhuber commented on #32
Fixed in 4.01.01

[2022-01-18 20:12] #32 closed

[2022-02-15 02:26] AshleyJackson opened #33 "AutoNum columns failed in Sql Server"
Hello,
I have attempted to follow the documentation provided however I am getting this error in Docker, Windows 10 (Python 3.10) and Ubuntu

[code]

Is there something that I am clearly missing?

I've run the latest version in Pypi as well as installed the latest version from this repo today.
[code]

[2022-02-15 02:39] valhuber commented on #33
Hi, Ashley

Thanks for reaching out, and sorry it's not working.  Let me see if I can help...

I'm not quite clear - you installed via Docker?  or pip?  For pip, you don't use the git site (unless you want to extend the product); the command would be more [like this](https://github.com/valhuber/ApiLogicServer/blob/main/README.md#local-installation).

    Let me know which strategy your prefer.  Do

[2022-02-15 03:18] valhuber commented on #33
Hi, Ashley

I have recreated the issue.  There seems to be some issue with Sql/Server, looking into it.  It does seem to be related to docker vs. pip, so doesn't look like that will help.  Will advise.

[2022-02-15 03:24] AshleyJackson commented on #33
Hi @valhuber.

Initially I installed it via Pip, however I have tried nearly every OS and combination of building this per your documentation

Please let me know if I can provide any logs or perform some tests for you.

Cheers.

[2022-02-15 03:27] valhuber commented on #33
Thanks for trying, and sorry for bug.  Per an entry that probably crossed somewhere over Hawaii, I can recreate the bug.  It has nothing to do with pip, docker or the OS.  I am hoping to resolve it before too long…. Will keep you posted..

— Val

[2022-02-15 04:41] AshleyJackson commented on #33
Another thing that I am now seeing (With you recent Git commits) is this errror, and similar errors with files not existing.
[code]

Could this be simply a capitalisation issue?

[2022-02-15 04:42] valhuber commented on #33
OK, I have a temp fix (and a silly shell bug ;) )....

Please install like this in some empty directory
[code]

Now, the following shell command *should* work (note the escape in the password) (substitute your own database url here):
[code]
but fails with `zsh: no matches found: --db_url=mssql+pyodbc://sa:posey386!@localhost:1433/NORTHWND?driver=ODBC+Driver+17+for+SQL+Server`.  I'll figure that ou

[2022-02-15 04:46] valhuber commented on #33
On the "other thing", what command did you run?  In any case, we need to stick with pip install for the temp fix test, as described above.  In this case, the `project_name` is usually a simple name, like `ApiLogicProject`, or `SqlServer`.  It becomes a directory name for your ApiLogicProject...

[2022-02-15 04:47] AshleyJackson commented on #33
I got an error when running
[code]
[code]

[2022-02-15 05:03] valhuber commented on #33
well that's unpleasant... if you've ever used it, this is the 'trial' version of pip, but evidently not to linux-friendly.  Had only used it on Windows & mac...

[2022-02-15 05:08] AshleyJackson commented on #33
I fixed that error using the below code in Ubuntu 21.04

[code]

[2022-02-15 05:11] valhuber commented on #33
Well played, sir.

My Unix friend helped me with the shell bug, now [doc'd](https://github.com/valhuber/ApiLogicServer/wiki/Testing#northwind---sqlserver--docker).

[2022-02-15 05:40] AshleyJackson commented on #33
Okay, so a little more tweaking got me forward even further, but now stuck at another road block.
Due to the age of the OS for the SQL Server, some works arounds were needed
The ODBC driver was missing on my Ubuntu Box so I used this: https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#ubuntu17

After a reboot, I ran

[2022-02-15 05:44] valhuber commented on #33
Ok, will look into it and get back to you.

Is docker an option for you?

On Mon, Feb 14, 2022 at 9:40 PM Ashley Jackson ***@***.***>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2022-02-15 05:48] AshleyJackson commented on #33
It is.

I've been building in Ubuntu and Docker side by side and have pretty much been experiencing the same issues.
I will attempt to try this latest fix in docker, now.

[2022-02-15 06:16] valhuber commented on #33
The docker version still has my SqlServer bug in it. I will fix this
tomorrow after some testing, and release updated pip and docker versions

On Mon, Feb 14, 2022 at 9:48 PM Ashley Jackson ***@***.***>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2022-02-15 14:07] valhuber commented on #33
OK, had a quick chance to look at your issue.  Hopefully it's not too hard to resolve (famous last words)....

It's due to the somewhat unexpected table name, which needs to be turned into a Python name:

[code]

--> What is the real table (it's a view, right?) name in your schema?

Let me know if you spot any other names that might be a challenge so I can test them...

Cheers,
Val

[2022-02-15 22:37] AshleyJackson commented on #33
The Table is showing as "dbo.Brand+Supplement+Data".
There's another called "dbo.Minimum+Stock+Levels".

We also have a few others with underscores in the name as well, and some with spaces.

[2022-02-16 00:27] valhuber commented on #33
OK, great, this is what I needed to know.

I have done some testing of the fixes, they seem to work fine for pip and docker.  Let me look into this name business, and hopefully I can get a release out for your use today.

Thanks for your patience, and assistance.

[2022-02-16 02:46] valhuber commented on #33
OK, I have completed a round of testing, and released 4.01.12, both pip and docker.  Please let me know how it goes.

I expect this will get you up, although you may have troubles accessing the tables with "+", and I am seeing issues inserting into tables with identity columns.  I will look into these, but hoping this gets you going...

[2022-02-16 03:34] valhuber opened #34 "AutoNum keys are created as "required" in the Admin app"
Users should not be required to enter data for db-supplied keys.

You can edit the admin.yaml, e.g., in the sample app, edit the Id to remove required, as follows:

[code]

[2022-02-16 04:01] AshleyJackson commented on #33
Thanks for you help with all of this @valhuber.
It looks like it has gone past that roadblock, but now this error has popped up.
[code]

I've run the same command as yesterday and I ran it without any parameteres.

[code]

[2022-02-16 04:17] valhuber commented on #33
One step at a time… maybe we can speed this up…?  If you can provide the DDL (probably don’t need data, but that would be fine), I can try to find several of these at a time.

(Several of these are due to the recent move to SQLAlchemy 4.1, which has made a number of changes affecting us)

[2022-02-16 16:58] valhuber opened #35 "Bad model.py for SQL Server computed column"
Thanks for finding this, @AshleyJackson.

I have opened this new issue...

It looks like it has gone past that roadblock, but now this error has popped up.
[code]

I've run the same command as yesterday and I ran it without any parameteres.

[code]

[2022-02-16 17:00] valhuber commented on #35
Having trouble re-creating this; this test is working:

<img width="1482" alt="computed base col ok" src="https://user-images.githubusercontent.com/5579631/154316706-3b4576fe-6c4d-4481-a363-2a381bee65a9.png">

[2022-02-16 22:42] valhuber commented on #33
I think the original issue is resolved, no?

For the Computed problem, I created a [new issue](https://github.com/valhuber/ApiLogicServer/issues/35)

[2022-02-16 23:52] AshleyJackson commented on #35
Hey mate.
Here's a self-destructing link for the models.py that gets generated.

https://pastebin.com/GjcLhW37

Is this enough for you?

[2022-02-17 00:08] valhuber commented on #35
I did get it.  It's helpful - I can see that "-" is another character to test for (easy).

I do not see why line 81 fails, might be good to have DDL for that.

Did you understand that `use_model` for **Manual Model Repair** gives to a chance to correct these (e.g, replace `-` in names with `_`), and bypass issues temporarily (eg. comment out the Computed issue on line 81:
[code]

[2022-02-17 05:28] valhuber opened #36 "--use_model not creating API or admin app"

[2022-02-23 02:01] valhuber commented on #36
use_model deprecated - use rebuild-from-model

[2022-02-23 02:01] #36 closed

[2022-02-23 02:01] #35 closed

[2022-02-23 02:03] valhuber commented on #33
Much appreciated... install instructions note the required lib for sql server, and name fixups are tightened.

[2022-02-23 02:03] #33 closed

[2022-02-23 02:04] valhuber commented on #21
It is now failing on trying to sort on all columns.

[2022-02-28 04:37] valhuber opened #37 "Issues adding employees"
With SQLAlchemy 1.4, we are seeing issues adding rows with autoNum keys

* postgres
<img width="1372" alt="postgres add emp" src="https://user-images.githubusercontent.com/5579631/155924827-75a46593-fe40-49f0-884b-3b94507be538.png">

* sample (sqlite)
<img width="1486" alt="sample add emp" src="https://user-images.githubusercontent.com/5579631/155924834-a65c85ce-349b-4005-9ab9-a8be6ba12405.png">

[2022-02-28 04:40] valhuber opened #38 "Swagger for SqlServer sort defaults to all properties, and fails"
This is a minor issue (just specify the desired sort columns), but is disconcerting:
<img width="1083" alt="default sort" src="https://user-images.githubusercontent.com/5579631/155925124-456c7377-bb84-4811-856b-1b1ef98d06ad.png">

[2022-03-02 04:18] valhuber opened #39 "Allocation Fails in ApiLogicServer - SQLAlchemy reports wrong class on `flush`"
The [Allocation Sample](https://github.com/valhuber/Allocation) encountered 2 bugs.

## Allocation reports missing relationship

[Allocation reports missing relationship](https://github.com/valhuber/LogicBank/issues/6) fixed in LogicBank == 1.4.3.

## SQLAlchemy reports wrong class on `flush`

SQLAlchemy reports:

[code]

### Fix: Rework `expose_api_models.py`

Revised to replace `importlib` with

[2022-03-03 02:42] valhuber opened #40 "ValidationErrors Logged After Update - PK values do not match columns"
Use the sample app, alter the OrderDetail of the first order (10643) for first customer (ALFKI) to select a new product, and press save.  It throws the following log that is benign but disconcerting:

[code]

[2022-03-03 02:54] valhuber opened #41 "SqlServer NORTHWND fails to add Category using Admin App"
Here is the log:

[code]

[2022-03-05 15:14] valhuber commented on #34
Fixed in 4.3.2

[2022-03-05 15:14] #34 closed

[2022-03-05 15:14] valhuber commented on #40
Fixed in 4.3.2

[2022-03-05 15:14] #40 closed

[2022-03-05 15:15] valhuber commented on #39
Fixed in 4.3.2

[2022-03-05 15:15] #39 closed

[2022-03-05 15:16] valhuber commented on #10
Fixed in 4.3.2

[2022-03-05 15:16] #10 closed

[2022-03-06 17:33] thomaxxl commented on #41
The "type" being sent must match the collection type. I don't know why your code posts "Categorie" instead of "Category".

The type defaults to the classname, it can be overriden if you'd wish to change it.

[2022-03-06 18:19] valhuber commented on #41
This is using the Admin app

On Sun, Mar 6, 2022 at 9:33 AM Thomas Pollet ***@***.***>
wrote:

--
Thanks,
Val

510-703-5909  valhuber on skype

[2022-03-08 15:38] valhuber opened #42 "Admin App not handling Booleans"
As of 4.3.3, the NW sample app includes `Order.Ready` as a Boolean.  It works fine in Swagger, but I am unclear how to define it for the admin app.

1. It always shows `True` when I set a breakpoint in `logic.declare_logic.py#congratulate_sales_rep`
<img width="1605" alt="Ready" src="https://user-images.githubusercontent.com/5579631/157271390-bff09bd9-9c9a-4f0d-945b-90a6418f7a94.png">.
2. It displ

[2022-03-08 15:55] valhuber commented on #41
Here is the project
<img width="1615" alt="no Categorie" src="https://user-images.githubusercontent.com/5579631/157274725-d7e822c2-d729-4221-a46a-aaf6b90907a9.png">
[sqlserver.zip](https://github.com/valhuber/ApiLogicServer/files/8207653/sqlserver.zip)

[2022-03-08 18:49] valhuber commented on #41
Hmm: here is the admin, I am seeing type, no?
[code]

Maybe the problem is that table-name <> class-name.  I am presuming it [works like this](https://github.com/valhuber/ApiLogicServer/wiki#data-model-classes)

[2022-05-19 21:22] valhuber opened #43 "Dialog displays wrong parent data"
To recreate the issue:
    1 - create db/schema (postgres) in docker db
    2 - load ddl/data from create_skills_matrix_db.sql
    3 - create project
            ApiLogicServer create --project_name=skills_matrix --db_url=postgresql://postgres:p@localhost/skills_matrix
    4 - create venv and run project > admin app
    5 - click role_role_level
    6 - open the > for row 194 to see in-grid data

[2022-06-12 16:46] valhuber opened #44 "Behave Run Fails 2 scenarios"
As release 5.02.21, the `Behave Run` [launch configuration](https://github.com/valhuber/ApiLogicServer/blob/main/README.md#test) has 2 failing scenarios:

[code]

This is under investigation.

It appears to be an issue with the test code, not the underlying product (e.g., the server logs look fine).

[2022-06-13 00:58] valhuber commented on #44
Minor bug in test, fixed in 5.02.22

[2022-06-13 00:58] #44 closed

[2022-08-10 00:40] valhuber opened #45 "ApiLogicServer run command fails"
Hangs on docker, some macs.  Fix anticipated soon

[2022-08-10 17:29] valhuber opened #46 "Admin apps fails to return data in on-sample apps"
Incorrect generation of admin.yaml.  Fix soon.

You can repair this manually by removing the double-quoting of the api_root entry.

[2022-08-16 03:04] valhuber opened #47 "psycopg2 causes M-series Mac to fail install"
This Postgres driver is an x86 binary, so [fails for other architectures](https://valhuber.github.io/ApiLogicServer/Tech-m1/).  Under investigation.

[2022-09-05 02:30] valhuber commented on #47
Resolved in 5.03.33, as [described here](https://valhuber.github.io/ApiLogicServer/Install-psycopg2/).

[2022-09-05 02:30] #47 closed

[2022-09-27 04:42] KatrinaHuberJuma opened #48 "As of 6.0, some transitions fail with "Element does not exist""
This error occurs with the sample Postgres database, even when created with current product but using old SRA.

[2022-09-27 04:47] valhuber commented on #48
A specific example is the transition to see Customer Detail (appears to be any customer).

[2022-10-01 15:09] valhuber opened #49 "As of 6.0, some SQL Server transitions fail"
In the SqlServer version of Northwnd, Customer/Orders fails (times out). Fixed in next build.

[2022-10-01 23:35] valhuber commented on #48
This is due to use of the `bpchar` datatype - _blank padded character_, more fully described in  [this SQLAlchemy issue](https://github.com/sqlalchemy/sqlalchemy/discussions/8592).

As a work-around, it can be resolved by editing the created model file, like this:

<img width="1226" alt="bpchar-fix" src="https://user-images.githubusercontent.com/5579631/193431921-70f67bb2-4dea-4100-8745-95226c22bb

[2022-10-03 02:22] valhuber commented on #49
Fixed in 6.2

[2022-10-03 02:22] #49 closed

[2022-10-06 16:49] valhuber commented on #48
A revised docker image has been created that resolves this [as described here](https://valhuber.github.io/ApiLogicServer/Database-Connectivity/#version-update-200).

[2022-10-07 06:38] pthom commented on #48
See https://github.com/pthom/northwind_psql/commit/4aa7967a33b84e693db56d4c23ada410a3ff04a6 which fixes the issue inside the northwind example

[2022-10-20 21:22] valhuber opened #50 "`swagger_host` argument is ignored on app creation"
As reported by @thomaxxl (thanks), the `swagger_host` argument is ignored on app creation, e.g.

[code]

This will be fixed in the next release.

In the meantime, you can repair the created app as shown here:

<img width="975" alt="api_logic_server_run" src="https://user-images.githubusercontent.com/5579631/197060824-a4977560-d652-40a0-ac4e-aa7b0e959340.png">

[2022-11-24 15:54] mingfang opened #52 "create ApiLogicServer Slack"
It would be great to have something like Slack for discussions around ApiLogicServer.

[2022-11-24 15:56] valhuber commented on #52
Good idea, and... it exists: **API Logic Server** is the workspace name

[2022-11-24 16:05] mingfang commented on #52
That's great.
How can we join that workspace?

[2022-11-24 16:11] valhuber commented on #52
I am new to Slack, but try joining that workspace

[2022-11-24 16:16] valhuber commented on #52
@mingfang here is the invite link, come say hello! https://join.slack.com/t/apilogicserver/shared_invite/zt-1k36g88zp-olEy2Two39G7R~WXutzGDw

[2022-11-24 20:31] valhuber opened #53 "Database Dialects not used on models.py generation"
models.py should contains an import for the dialect of the target database, e.g.,:

[code]

[2022-11-24 20:32] valhuber commented on #53
Fixed in 06.03.06

[2022-11-24 20:32] #53 closed

[2022-11-25 00:53] valhuber opened #54 "Purpose of multiple admin files is unclear/confusing"
The nw sample is created with multiple admin files (admin.yaml, admin-created.yaml, custom_app.yaml and admin.yaml).

It's unclear these are for backups, or for rebuild-project.

[2022-11-25 00:54] valhuber commented on #54
These will be removed for builds >= 6.03.07

[2022-11-30 22:16] valhuber opened #55 "ApiLogicServer install fails under Python 11, due to psycopg2-binary"
You may see errors like this during the install:

[code]

Installer will be updated to properly handle this situation.